{% extends 'frontoffice/base.html.twig' %}

{% block title %}Admin{% endblock %}


{% block header %}
<section class="mt-14 mx-auto bg-[url('assets/banner.avif')] h-96 relative p-4">
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>  
    <div class="container mx-auto flex justify-center items-center flex-col h-full relative text-center ">
        <h1 class="font-bold text-white uppercase" style="font-size: clamp(1.5rem, 1rem + 2.5vw, 3rem);">Administration Infoblog</h1>
    </div>
</section>
{% endblock %}
{% block main %}
<div class="container mx-auto grid grid-cols-3 my-16 gap-4">
    {% for post in listPosts %}
                    <div class="flex flex-col gap-4 border border-cyan-900 rounded-md p-4">
                        <div class="bg-cyan-950 h-64 flex items-center justify-center">
                            <h4 class="text-white font-extrabold text-xl text-center">{{ post.title }}</h4>
                        </div>
                        <div class="flex flex-col h-1/2 justify-between">
                            <p> {{ post.chapo }} </p>
                            <div class="flex justify-between">
                                <div>
                                    <p class=""> {{ post.pseudo }} </p>
                                    <p> {{ post.createdAt|date('d/m/Y') }} </p>
                                </div>
                                <a href="?action=admin&postId={{ post.id }}" class="mt-auto p-2 rounded-md bg-cyan-600 text-white"> Modifier l'article </a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
</div>
{% endblock %}